{{#each detail}}
<div class="detail d-flex mb-10">
    <div class="pr-10 detail-main-img">
        <img src={{image}} alt="image">
    </div>
    <div>
        <h4>{{title}}</h4>
        <p>{{decription}}</p>
    </div>
</div>
<div class="t-align">
    <a href="/home">
        <button class="btn btn-primary">Retour</button>
    </a>
</div>
{{/each}}