<div class="container-input form-group d-flex align-items-center p-1">
    <i class="fa-solid fa-magnifying-glass pr-10"></i>
    <input type="text" id="search" class="flex-fill" placeholder="Effectuez une recherhe">
</div>
<div class="container p-20" id="list-game">
    {{> game data=data}}
</div>